#gitignore vs code w/ mplab x project
#includes python project

#vs code
.vscode/*.mplab-local.json
*.mplab-local.json
settings.json
cmake/
_build/
out/
.cursorindexingignore
*.log

# MPLAB X directories - not needed for portability
**/nbproject/private/
**/.generated_files/
**/nbproject/Makefile-*
**/nbproject/Package-default.bash

# MPLAB X Build Directories
[Dd]ebug/
[Bb]uild/
[Dd]ist/
[Dd]isassembly/

# MCC System and Backup Files
*.c.bak
*.h.bak
*.bak*
*.mc3.bak*
defmplabxtrace.log*
**/queuelogs/

# Compiler Intermediate Build Files
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map

# NetBeans directories
html/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
funclist